@import"mixin";
@import"button";
.card-container{
    padding: 50px;
    flex: 3;
    background: rgb(120, 199, 230);
    display: flex;
    // flex-direction: column;
    .card-product{
        box-sizing: border-box;
        padding: 30px;
        height: 65vh;
        background:white;
        margin: 10px;
        width: 30%;
        border-radius: $border-radius;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .card-img{
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            padding: 10px;
            // background: #000;
        }
        p{
            font-size: 20px;
        }
    }
    .buyBtn{
        display: flex;
        justify-content: flex-end;
        // background: #000;
        #buyBtn{
            @include button;
        }
    }
    .card-product:hover{
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    }
}