@import"mixin";
footer {   
    @include flexProp(flex, row) {
        background: white;
        padding: 30px;
    }

    .contact-media {
        @include flexProp(flex, row) {
            flex: 1;
            align-items: center;
            justify-content: flex-end;
            gap: 20px;

            .fa-facebook {
                font-size: 30px;
                text-decoration: none;
                color: blue;
            }

            .fa-twitter {
                @extend .fa-facebook;
                color: blue;
            }

            .fa-google {
                @extend .fa-facebook;
                color: red;
            }

            .fa-linkedin {
                @extend .fa-facebook;
            }

            .fa-youtube {
                @extend .fa-facebook;
                color: red;
            }
        }
    }
}

.baner{
    padding: 55px;
    display: flex;
    justify-content: flex-end;
    background: rgb(216, 126, 126);
    img{
        border-radius: $border-radius;
    }
}