@import"mixin";
@import"input";
@import"button";

.nav-container {
    flex: 0.3;
    background: rgb(226, 218, 218);

    #navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            display: flex;
            @include flex-center(center, center);
            margin-left: -50px;
            // background: #000;
        }

        .login {
            display: flex;
            
            ul,
            li {
                display: flex;
                padding: 10px;
            }
        }
    }
    .search-container {
        background-color: white;

        @include flexProp(flex, row) {
            align-items: center;
        }

        width: 40%;
        border-radius: $border-radius;

        input {
            @include flexSize(1);
            border: none;
            outline: none;
            padding: 15px;
        }

        span {
            @include button;
            text-align: center;
            justify-content: center;
            margin-right: 10px;
            color: white;
        }
        .material-icons{
            margin-left: 10px;
        }

    }
    .seachBar {
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }
}

